/* Write your code here. */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}
.main-container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #0f172a;
  font-family: "Roboto";
}
.card-container {
  background-color: #cffafe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.name {
  color: #1e293b;
  font-family: "Roboto";
  font-size: 25px;
}
.institute {
  color: #1e293b;
  font-family: "Roboto";
}
.profile-img {
  width: 80px;
}
@media screen(min-width <= 767) {
  body {
    margin: 0px;
  }
}
